.Developer{
    .text-p{
        letter-spacing: 3px;
          font-weight: 400;
          font-size: 16px;
          color: #858585;
        
      }
      .card{
        height: 450px;
        overflow: hidden;
        width: 100%;
        border-radius: 10px;
        @media (min-width: 768px){
            height: 311px;
        }
        @media (min-width: 1199px){
            height: 450px;
        }
       
        img{
            -webkit-transition: .3s ease-in-out;
            transition: .3s ease-in-out;
        }
        &:hover img{
            -webkit-transform: scale(1.2);
	        transform: scale(1.2);
        }
        .card-img-overlay{
            visibility: hidden;
            bottom: 0 !important;
            top:auto;
            transition: .3s ease-in-out;
            -webkit-transition: .3s ease-in-out;
        }
        &:hover .card-img-overlay{
            visibility: visible;
            background-color: rgba(90, 90, 90, 0.199) !important;
            z-index: 999;
        }
        
      }
      
}