.foot-logo{
    width: 200px;
}
footer {
    background-color: #eeeeee;
    .nav-link {
        padding: 0.2rem 1rem !important;
        @media (max-width:768px){
            padding: 0.1rem 1rem !important;
        }
    }
    a{
        color: #767676 !important;
        font-weight: 500;
        &:hover{
            color: var(--blue) !important;
        }
    }
    p{
        color: #767676;
        font-weight: 600;
    }
    h5{
        color: #454545 !important;
    }
}
.discuss{
    background: var(--blue);
    .sign{
        padding: 20px;
        @media (max-width:769px){
            padding: 12px;
        }
    }
    input span{
        @media (max-width:768px){
            padding: 9px 22px !important;
        }
        @media (max-width:767px){
            padding: auto !important;
        }
    }
}