.text{
    display: none;
    // transfo: translate(-100);
}


a:hover { text-decoration: none }
.feature-card{
	background-image: url(./assect/p3.jpg);
    max-width: 100%;
    height: 100%;
}
.feature-card {
    width: 100%;
    height: 400px;
    margin: 50px auto;
    background-position: center top;
    background-size: cover;
    overflow: hidden;
    position: relative;
    box-shadow: 0 2px 7px #dfdfdf;
}
.feature-card-deatails {
    position: absolute;
    bottom: -230px;
    left: 0;
    width: 100%;
    padding: 30px;
    background: rgba(0, 0, 0, 0.301);
    transition: 0.3s ease-in-out;
    font-size: 15px;
    color: #ffffff;
}

.feature-card-tilte {
    position: absolute;
    left: 0;
    text-align: center;
    bottom: 0;
    width: 100%;
    text-transform: uppercase;
    transition: 0.3s ease-in-out;
    padding: 20px;
    background: #c0c0c0;
}

.feature-card-tilte h3 {
    font-size: 22px;
    font-weight: 700;
    color: #ffffff;
}

.feature-card:hover .feature-card-tilte {
    bottom: -75px;
}

.feature-card-deatails i {
    font-size: 35px;
    color: #1d365c;
}

.feature-card-deatails h4 {
    font-size: 20px;
    color: var(--dark-blue);
    margin: 15px 0;
    text-transform: uppercase;
    font-weight: 700;
}

.feature-card-deatails a {
    display: inline-block;
    margin-top: 15px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 700;
}

.feature-card:hover .feature-card-deatails {
    bottom: 0;
}