@import './components/stripe.scss';
@import './components/Header.scss';
// @import './components/Header.scss';


:root{
  --blue:#66cccc;
  --dark-blue:#662d91;
}

.bg-darkblue{
  background-color: var(--dark-blue) !important;
}
.text-darkblue{
  color: var(--dark-blue) !important;
}
.text-dark{
  color: #706868 !important;
}
.bg-blue{
  background-color: var(--blue) !important;
}
.z-index50{
  z-index: 50;
}
body{
  color: #646464 !important;
}